<div class="container">
	<div id="messages" class="col-md-12">
		<div class="list-group">
			<%= render @messages %>
		</div>

	</div>
</div>

<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<form class="row">
			<div class="input-group">
			  <input type="text" class="form-control" data-behavior="chat_speaker"  placeholder="Recipient's username" aria-describedby="basic-addon2">
			  <span class="input-group-addon" id="basic-addon2">Escriba su mensaje aquí</span>
			</div>



		</form>
	</div>
</footer>
